<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohfahmi.storyapp.map_story">

    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API" />

        <activity
            android:name=".MapStoryActivity"
            android:exported="false"
            android:theme="@style/Theme.StoryApp"/>
    </application>

</manifest>